/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#featured-brands {
  width: 65.3%;
  margin-right: 10px;
  float: left;
}

#shoe-archive {
  display: inline-block;
  width: 32.6%;
  margin-left: 10px;
  margin-bottom: 20px;
}

.deals {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  columns: 3;
}

.border_right {
  margin-right: 20px;
  float: left;
}